@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

$fgColor: #FFFFFF;

$mgColor: #0F4C75;

$bgColor1: linear-gradient(45deg, rgba(234,84,85,1) 0%, rgba(15,76,117,1) 80%);
$bgColor2: linear-gradient(-45deg, rgba(0,173,181,1) 0%, rgba(240,123,63,1) 85%);
$bgColor3: #1B262C;
$bgColor4: #EA5455;

@mixin content($width) {
  padding: 60px 100px;
  
  & > div {
    max-width: $width;
    margin: 0 auto;
  }

  h1 {
    font-size: 80px;
    letter-spacing: 0.075em;
  }

  @media (max-width: 700px) {
    padding: 60px 50px;
  }
}

@mixin center($direction: row, $content: center, $items: center, $gap: 20px) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
  gap: $gap;
}

div {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: $fgColor;
}

h1, h2, h3 {
  text-align: center;
  margin: 0;
}

#landing-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: $bgColor1;

  h1 {
    font-size: 120px;
    letter-spacing: 0.075em;
  }
  
  h2 {
    font-size: 36px;
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 80px;
    }
    
    h2 {
      font-size: 18px;
    }
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 60px;
    }
    
    h2 {
      font-size: 14px;
    }
  }

  @media (max-width: 400px) {
    h1 {
      font-size: 35px;
    }
  }

  #menu-icon {
    position: absolute;
    top: 20px;
    width: 100%;
    
    svg {
      width: 40px;
      display: none;
      margin: 0 auto;
    }

    @media (max-width: 900px) {
      svg {
        display: block;
      }
    }
  }
}

#nav-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  @include center(row, space-evenly, center);
  justify-content: space-evenly;
  padding: 10px 0;

  hr {
    display: none;
    margin: 0;
    width: 100%;
    border: 1px solid white;
  }

  a {
    font-size: 24px;
    color: $fgColor;
    text-decoration: none;

    &:hover {
      color: #FFD460;
    }
  }
}

@media (max-width: 900px) {
  #nav-bar {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
  }

  #nav-bar hr {
    display: block;
  }
}

#title-container {
  width: 100%;
  height: 100%;
  @include center(column);

  h2 {
    width: 520px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }
}

#title-container > * {
  margin: 0;
}

#team-section, #demo-section {
  background-color: $bgColor3;
  width: 100%;
  @include content(1200px);
  
  & > div {
    @include center(column, flex-start, center, 40px);

    & > div {
      width: 100%;
      // display: grid;
      // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      @include center(row, center, flex-start);
      flex-wrap: wrap;
      gap: 40px;
    }
  }

  .profile {
    width: 300px;
    @include center(column);

    img {
      width: 100%;
      border-radius: 10px;
      filter: drop-shadow(-3px 6px 4px rgba(0, 0, 0, 0.4));
    }
  }

  p {
    margin: 0 20px;
  }

  @media (max-width: 900px) {
    h1 {
      font-size: 50px;
    }
  }

  @media (max-width: 460px) {
    h1 {
      font-size: 35px;
    }
  }
}

#demo-section {
  background: $bgColor1;

  iframe {
    display: block;
    margin: 0 auto;
    padding-top: 20px;

    @media (max-width: 650px) {
      width: 90%;
    }
  }
}

#app-section {
  background: $bgColor2;
  width: 100%;
  @include content(1920px);

  & > div {
    @include center(row);

    & > div:nth-child(2) {
      @include center(row);
    }
  }

  .title-container {
    width: 600px;

    @media (max-width: 600px) {
      width: 100%;
    }
  }

  h1 {
    text-align: left;
    font-size: 60px;

    @media (max-width: 600px) {
      font-size: 40px;
    }

    @media (max-width: 450px) {
      font-size: 30px;
    }
  }

  @media (max-width: 1500px) {
    & > div {
      @include center(column, flex-start, center);

      & > div:nth-child(2) {
        width: 100%;
        @include center(row, space-evenly, center, 40px);
        flex-wrap: wrap;
      }
    }

    h1 {
      text-align: center;
    }

    .title-container {
      margin-bottom: 20px;
    }
  }
}

.card {
  background-color: $mgColor;
  @include center(column, flex-start, flex-start);
  border-radius: 15px;
  width: 25%;
  height: 600px;
  overflow-y: auto;
  filter: drop-shadow(-3px 6px 4px rgba(0, 0, 0, 0.4));

  * {
    margin: 0 20px;
  }

  h3 {
    text-align: left;
    font-size: 30px;
  }

  img {
    margin: 0;
    width: 100%;
  }

  p {
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 1500px) {
  .card {
    width: 320px;
  }
}

#ml-section {
  background-color: $bgColor4;
  width: 100%;

  @include content(1920px);

  & > div {
    @include center(column);
  }

  h1 {
    font-size: 55px;
    margin: 20px;
  }

  #cnn-icon {
    height: 150px;
  }

  #stats {
    @include center(row, center, flex-start);
    width: 100%;
    margin: 40px 0;

    div {
      @include center(column, center, center, 10px);
      width: 400px;

      @media (max-width: 400px) {
        width: 100%;
      }

      p:first-child {
        font-size: 120px;
      }

      p {
        font-size: 24px;
        margin: 0;
        text-align: center;
      }
    }

    .img-grid {
      width: auto;
      display: grid;
      grid-template-columns: 100px 100px 100px;
    }
  }

  @media (max-width: 1400px) {
    h1 {
      font-size: 40px;
    }

    #stats {
      div {
        p:first-child {
          font-size: 80px;
        }

        p {
          font-size: 16px;
        }
      }
    }
  }

  @media (max-width: 1080px) {
    #stats {
      @include center(column, center, center, 30px);
      margin: 0;
    }
  }

  @media (max-width: 400px) {
    h1 {
      font-size: 35px;
    }
  }
}

#disclaimer-section {
  background-color: $bgColor3;
  width: 100%;
  @include content(1200px);
  padding: 20px;
  text-align: center;
}